body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    /*background-color: #DFEBF3;*/
    background-image: url(images/qs.jpg);
    background-position: bottom;
    background-size: cover;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{
    background-color: #FFF;
    padding: 18%;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav li{
     display: inline;
     padding: 12px;
     list-style-type: none;

}

nav li a{
    text-decoration: none;
    color: #000;
    font-family: fantasy;
    font-size: 22px;
}

header h1{
     margin: 0;

}

.head{
    float: left;
}

nav{
    float: right;
    margin-top: 5px;
}


.showcase h2 {
    text-align: center;
    color: #FFF;
    font-size: 36px;
    margin-top: 13%;
}

.showcase p{
    text-align: center;
    color: #FFF;
    font-family: cursive;
    font-size: 24px;
    
}/*1rem=16px*/

.btn1{
    margin-left: 35%;
    padding: 12px;
    color: #FFF;
    background-color: #4267B2;
    border: none;
    border-radius: 18px;
    margin-top: 2%;

}

.btn2{
    margin-left: 35%;
    padding: 12px;
    color: #FFF;
    background-color: black;
    width: auto;
    border-radius: 18px;
    margin-top: 2%;
    margin-left: 2%;

}


footer{
    background-color: #FFF;
    padding: 0.7rem;
    margin-top: 10%;
    font-family: cursive;
}

.lefly{
    float: left;
    width: 20%;

}

.righty{
    float: right;
    width: 80%;
    margin-top: 2%;

}

.righty input{
    margin-left: 0.3rem;
    margin-right: 2rem;
    font-size: 1rem;
    width: 250px;
}

.btn3{
    padding: 7px 12px ;
    color: #FFF;
    background-color: #01A185;
    margin-top: 2%;
    border: none;
    margin-left: 2%;
    text-decoration: none;
    font-family: sans-serif;
}




































































































